---
layout: default
title: Distributions
---
<div class="container">

<div class="row">
    Catmandu and its extensions are primarily distributed via <a href="https://metacpan.org">CPAN</a>. Each distribution can contains several modules with
    <a href="#importers">importers</a>, <a href="#exporters">exporters</a>,
    <a href="#stores">stores</a>, and <a href="#fixes">fixes</a>.
</div>

<div class="row">
  <h2 id="distributions">Distributions</h2>
  <table class="table">
    <tr>
        <th>CPAN distribution</th>
        <th>version</th>
        <th>date</th>
        <th>system</th>
        <th>status</th>
    </tr>
    {% for distr in site.data.distributions %}
      <tr>
        <td>
          <a href="https://metacpan.org/release/{{ distr.name }}">{{ distr.name }}</a>
          <div>{{ distr.abstract }}</div>
        </td>
        <td>{{ distr.version }}</td>
        <td sort="{{distr.date}}" title="{{distr.date}}">{{ distr.date | date_to_string }}</td>
        <td>
            {% if distr.debian %}
              <a href="https://tracker.debian.org/pkg/{{ distr.debian.package }}" title="{{ distr.debian.package }}">
                <img src="https://www.debian.org/favicon.ico"/>
              </a>
              {% for v in distr.debian.versions %}
                {% for suite in v.suites %}
                  / <a href="https://packages.debian.org/{{suite}}/{{ distr.debian.package }}"
                     title="{{suite}}">{{v.version}}</a>
                {% endfor %}
              {% endfor %}
            {% endif %}
        </td>
        <td>
          <a href="http://matrix.cpantesters.org/?dist={{ distr.name }} {{ distr.version }}">
            <span style="color:green">{{ distr.tests.pass }}</span> 
            /
            <span style="color:red">{{ distr.tests.fail }}</span>
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

{% assign type='importers' %}
{% assign namespace='Importer' %}
{% assign list=site.data.modules.Importer %} 
{% include modules.html %} 

{% assign type='exporters' %}
{% assign namespace='Emporter' %}
{% assign list=site.data.modules.Exporter %} 
{% include modules.html %} 

{% assign type='stores' %}
{% assign namespace='Store' %}
{% assign list=site.data.modules.Store %} 
{% include modules.html %} 

{% assign type='fixes' %}
{% assign namespace='Fix' %}
{% assign list=site.data.modules.Fix %} 
{% include modules.html %} 
