
    <!-- _includes/footer.html
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>LibreCat is an Open Collaboration of the Universty Libraries of Lund, Ghent and Bielefeld. 
        <p>We acknowlegde support from the <a href="http://www.dfg.de/">Deutsche Forschungsgemeinschaft (DFG)</a> under the Project <a href="http://www.ub.uni-bielefeld.de/wiki/PubLister">Persönliche Publikationslisten als hochschulweiter Dienst</a>.
        <p>Designed and built with <a href="https://github.com/twitter/bootstrap">Bootstrap</p>
      </div>
    </footer>

