
<!-- _includes/navbar.html {{ page.path }} -->

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html">LibreCat</a>
          <div class="nav-collapse collapse">
                          <ul class="nav">
                <li class="{% if "index.html" == page.path %}active{% endif %}">
                  <a href="/index.html">LibreCat</a>
                </li>
                <li>
                  <a href="/Catmandu">Documentation</a>
                </li>
                <li class="{% if "distributions.html" == page.path %}active{% endif %}">
                  <a href="/distributions.html">Distributions</a>
                </li>
                <li>
                  <a href="/Catmandu/#fixes-cheat-sheet">Cheat Sheet</a>
                </li>
                <li class="{% if "events.html" == page.path %}active{% endif %}">
                  <a href="/events.html">Events &mdash; Workshops</a>
                </li>
                <li class="{% if "blog.html" == page.path %}active{% endif %}">
                  <a href="https://librecatproject.wordpress.com/">Blog</a>
                </li>
                <li class="{% if "use-cases.html" == page.path %}active{% endif %}">
                  <a href="/use-cases.html">Use Cases</a>
                </li>
                <li>
                  <a href="http://demo.librecat.org/">Demo</a>
                </li>
                <li class="{% if "about.html" == page.path %}active{% endif %}">
                  <a href="/about.html">About</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

